*{
    padding: 0;
    margin: 0;
}

.Body{
}

/*---------------Header-----------*/
.Header{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: green;
    color: white;
}
.Header_Title{
    font-size: 50pt;
}

.Header_Author{
    align-self: center;
    font-size: 20pt;
}

/*---------------Tabs-----------*/
.Tabs{
    display: flex;
    flex-flow: column;
}
.Tabs_Title{
    text-align: center;
    font-size: 30pt;
}
.Tabs_Element{
    display: flex;
}
.Tabs_Tab{
    text-align: center;
    background-color: blue;
    color: white;
    flex: 1;
}
.Tabs_Tab_Active{
    background-color: white;
    color: black;
}

/*---------------Rank-----------*/
.Ranking{

}

.Ranking_Header{
    display: grid;
    background-color: blue;
    grid-template-columns: repeat(13, 7.6vw);
    grid-gap: 1%;
}
.Ranking_Header_Element{
    border: 1px solid black;
    font-size: 12pt;
    text-align: center;
}

.Ranking_Matches{
    display: grid;
    grid-template-rows: repeat(3,minmax(100px,1fr));
    grid-gap: 1% 2%;
}

.Ranking_Element{
    grid-column: span 1;
}
.Ranking_Element_Score{
    grid-column: span 3;
}
.Ranking_Element_Team{
    grid-column: span 4;
}

/*---------------Match-----------*/
.Match{
    display: grid;
    grid-template-columns: repeat(13, 7.6vw);
    grid-gap: 1%;
}
.Match_Element{
    border: solid 1px black;
}

.Match_Team{
    display: grid;
}

.Match_Team_Element_Title{
    grid-column: span 4;
    grid-row: 1;
}
.Match_Team_Element_Player{
    grid-column: span 2;
    grid-row: 2;
}

.Match_Score{
    display: grid;
}
.Match_Score_Element{
    grid-column: span 1;
    grid-row: 1;
}
.Match_Score_Element_Victory{
    background-color: green;
}
.Match_Score_Element_Defeat{
    background-color: red;
}
.Match_Score_Element_Equality{
    background-color: blue;
}

/*---------------Button--------*/
.Button{
    grid-column: 6/ span 3;
}
.Button_Text{
    text-align:center;
    font-size: 20pt;
    color: black;
}
.Button_Add{
    grid-row: 2;
}
.Button_Delete{
    grid-row: 2;
}
.Button_Match{
    background-color: green;
}
